<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="JarApplication">
    <option name="JAR_PATH" value="$PROJECT_DIR$/../art-bukkit/debug/spigot/server.jar" />
    <option name="VM_PARAMETERS" value="-Xmx1G -Xms1G -Dfile.encoding=UTF-8 -Dcom.mojang.eula.agree=true" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" value="1.8" />
    <module name="art-bukkit" />
    <method v="2">
      <option name="Gradle.BeforeRunTask" enabled="true" tasks="prepareSpigot" externalProjectPath="$PROJECT_DIR$/art-bukkit" vmOptions="" scriptParameters="" />
      <option name="Gradle.BeforeRunTask" enabled="true" tasks="prepareSpigotPlugins" externalProjectPath="$PROJECT_DIR$/art-bukkit" vmOptions="" scriptParameters="" />
    </method>
  </configuration>
</component>